.btn {
  padding: 5px 10px;
  background: #0d5dad;
  border: none;
  border-radius: .2em;
  color: white;
  cursor: pointer;
}
.btn-lg {
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 8px 15px;
  background: #ff0066;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
html {
  height: 768px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom, #0d5dad 0%, #0d5dad 100%);
  height: 768px;
  min-height:768px;
}
.header {
  padding: 10px;
}
.content,
.bottom {
  margin: 10px;
}
.header {
  height: 20px;
  line-height: 20px;
  color: white;
}
.header .message {
  background: #223890;
  padding: 0 10px;
  border-radius: 30px;
  margin-left: 30px;
}
.header .back {
  float: right;
  background: #ccc;
  padding: 5px 10px;
  border-radius: .2em;
}
.content {
  background: white;
  border-radius: 0 .6em .6em .6em;
  position: absolute;
  top: 75px;
  bottom: 140px;
  left: 0;
  right: 0;
}
.content .lottery-info {
  position: absolute;
  right: 20px;
  top: -30px;
  height: 30px;
  line-height: 30px;
  color: white;
}
.content .content-top {
  height: 80px;
  padding: 10px;
  margin-bottom: 20px;
}
.content .content-top .categories {
  float: left;
  width: 30%;
}
.content .content-top .tips-info {
  height: 80px;
  line-height: 40px;
  float: right;
  height: 60%;
  text-align: center;
}
.content .content-bottom {
  height: 60px;
  border-top: dashed 2px blue;
  line-height: 60px;
  clear: both;
  z-index: 999;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}
.content .tab-menu {
  position: absolute;
  top: -30px;
  left: 0;
  width: 320px;
  height: 30px;
  list-style-type: none;
}
.content .tab-menu .tab {
  background: #2f6ebd;
  width: 90px;
  height: 30px;
  border-radius: .6em .6em 0 0;
  color: white;
  float: left;
  text-align: center;
  line-height: 30px;
  letter-spacing: .2em;
  transition-duration: 1s;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
.content .tab-menu .tab:first-child {
  background: white;
  color: black;
  margin-left: 9px;
  transform: scale(1.2);
}
.content .tab-menu .tab + .tab {
  margin-left: 15px;
}
.content .tab-menu .tab:hover {
  background: white;
  color: black;
  transform: scale(1.2);
}
.content .circle:hover {
  transform: scale(1.2);
}
.content .circle:active {
  background: #eee;
}
.content .circle {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 40px;
  float: left;
  background: #cccccc;
  text-align: center;
  line-height: 30px;
  color: white;
  margin: .6em;
}
.content .left {
  width: calc(60% - 15px);
  float: left;
}
.content .left .comment1 {
  width: calc(92.4px);
  float: left;
  margin: .6em;
  line-height: 30px;
  height: 30px;
  font-size: 16px;
}
.content .left .circle {
  color: red;
}
.content .right {
  width: calc(40% - 15px);
  margin-left: 30px;
  float: left;
}
.content .right .comment2 {
  width: calc(61.2px);
  height: 30px;
  margin: .6em;
  float: left;
  line-height: 30px;
  font-size: 16px;
}
.content .right .circle {
  color: blue;
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  height: 130px;
  border-radius: .6em;
}
.bottom .bottom-left {
  float: left;
  width: calc(100% - 200px);
}
.bottom .bottom-left .bettings-info {
  padding-left: 20px;
  padding-top: 5px;
  width: 60%;
  height: 130px;
  border-right: dashed #ff0066 2px;
  float: left;
}
.bottom .bottom-left .bettings-option {
  width: 40%;
  height: 130px;
  float: right;
}
.bottom .bottom-left .bettings-option div {
  text-align: center;
  height: 65px;
  line-height: 65px;
}
.bottom .bottom-left .bettings-option div:nth-child(1) button {
  font-size: 18px;
}
.bottom .bottom-left .bettings-option div:nth-child(2) button {
  font-size: 18px;
}
.bottom .bottom-right {
  float: right;
  width: 200px;
  height: 130px;
}
.bottom .bottom-right div:nth-child(1) {
  text-align: center;
  color: red;
  font-weight: 600;
  height: 65px;
  line-height: 65px;
}
.bottom .bottom-right div:nth-child(2) {
  text-align: center;
  height: 65px;
  line-height: 63px;
}
.bottom .bottom-right button {
  background: #ff0066;
  border: none;
  padding: 5px 10px;
  border-radius: 2em;
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.bottom i {
  position: absolute;
  display: inline-block;
  border-left: dashed #2073b1;
  background: white;
  height: 130px;
  right: 200px;
}
.bottom i:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -11px;
  width: 20px;
  height: 20px;
  background: #0d5dad;
  border-radius: 20px;
}
.bottom i::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -11px;
  width: 20px;
  height: 20px;
  background: #0d5dad;
  border-radius: 20px;
}
.active {
  background: #999 !important;
  box-shadow: 2px 2px 2px 2px #eee;
  color: white;
  transform: scale(1.2);
}
